/*Base Configuration*/
*{
    margin: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Header*/
.header{
    width: 100%;
    display: flex;
}

.logoHeader{
    height: 90px;
}

.tittleHeader{
    display: flex;
    color: rgb(0, 0, 0);
    align-items: center;
}

.icons{
    display: flex;
    align-items: center;
    
}

.iconsHeader{
    height: 45px;
    flex-direction: row;
}

/*Menu*/
.menu{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 80px;
    align-items: center;
}

.menuText{
    margin: 0 60 0 60;
    text-decoration: underline;
    font-size: 35px;
    color: rgb(255, 0, 153);
}

/*Footer*/
.footer{
    position: absolute;
    bottom: 0px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: auto;
    text-align: center
}

.form{
    display: flex;
}

.textFooter{
    color: aliceblue;
    font-size: 20px;
}

.logoFooter{
    height: 130px;
    margin: 0 80 0 80;
}